body {
    margin: 0;
    font-family: Tahoma;
}

/* Classes especificas*/
.subtitulo-azul{
    padding: 30px 0;
    color: #3e94eb;
}

.subtitulo-branco{
    padding-bottom: 20px;
    padding-top: 30px;
    color: white;
}

.texto-azul {
    color: #3e94eb;
    font-weight: bold;
 }

 .texto-amarelo {
    color: yellow;
    font-weight: bold;
 }

 /* Classes com estilo em comum*/
.secao {
    padding: 30px 0;
    text-align: center;
}

.secao-servicos, .secao-contato{
    background-color: #3e94eb;
}

.secao-sobre img, .secao-corretores img {
    width: 500px;  
}

.secao-sobre p, .secao-corretores p {
    width: 800px;
    text-align: justify;
    margin: 20px auto;
    line-height: 25px;
}

/*Classes com estilo específicos*/
.secao-inicio{
    background-color: #adcff0;
}

.secao-inicio img {
    width: 200px;
    margin: 30px auto 10px auto;
}

.secao-inicio p {
    padding-bottom: 30px;
    font-weight: bold;
}

.secao-inicio a {
    color: black;
    margin: 15px;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    border-left: 5px solid #146fca;
    border-bottom: 5px solid #146fca;
}

.secao-banner img {
    width: 200px;
    padding-top: 10px ;
}

.titulo-sobre{
    margin-bottom: 1px;
}

.secao-sobre h3 {
    font-weight: normal;
    font-size: 24px;
    color: #3e94eb; 
    margin-top: 1px;
}

.secao-servicos p {
    width: 700px;
    margin: 40px auto;
    font-size: 22px;
    line-height: 42px;
    color: white;
    text-align: center;
}

.secao-servicos ul{
    width: 100px;
    margin: 40px auto;
    text-align: left;
    line-height: 40px;
    font-size: 22px;
    color: white;
}

.secao-contato iframe{
    width: 800px;
}

.secao-contato p{
    font-size: 20px;
    width: 1100px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    color: white;
}

.secao-contato a {
    line-height: 40px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
